{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_reportdashboard/testscores

    TODO describe template testscores

    Example context (json):
    {
    }
}}
<div class = "reportdashboard_header mt-4">
	<div id='plotreportcontainer{{testscorelinereportid}}' class='plotreport_dashboard_container' data-reportid={{testscorelinereportid}}
            data-reporttype={{testscorelinetype}} data-blockinstance={{testscorelinereportid}}>
	</div>
</div>

{{#js}}
    require(['block_learnerscript/report'], function(s) {
			var params = {};
			params.reportid = {{testscorelinereportid}};
			params.reporttype = '{{testscorelinetype}}';
			params.instanceid = {{testscorelinereportid}};
			params.filters = {filter_courses:{{courseid}}};
			params.reportdashboard = false;
			s.PackageReportsdata(params);
		});
{{/js}}