.fs-xxl {
    font-size: 24px;
}
.fs-max-xl {
    font-size: 22px;
}
.fs-xl {
    font-size: 20px;
}
.fs-max-lg {
    font-size: 18px;
}
.fs-lg {
    font-size: 17px;
}
.fs-max-md {
    font-size: 16px;
}
.fs-normal {
    font-size: 15px;
}
.fs-md {
    font-size: 14px;
}
.fs-sm {
    font-size: 13px;
}
.fs-xs {
    font-size: 12px;
}
.fs-xxs {
    font-size: 11px;
}
.fw-500, .fw-medium {
    font-weight: 500;
}
.fw-600, .fw-semibold {
    font-weight: 600;
}
.fw-700, .fw-bold {
    font-weight: 700;
}
.text-decoration-underline {
    text-decoration: underline;
}
