<h4 class="timer"><div id="quiz-timer-wrapper" class="mb-2">
    <div id="quiz-timer" class="quiz-timer-inner py-1 px-2 mr-auto" role="timer" aria-atomic="true" aria-relevant="text">
        <span id="quiz-time-left"></span>
    </div>
</div></h4>
<div class="px-3">
	<div class="row m-0 quiz_navstatus">
		<div class="col-md-6 p-0 mb-3">
			<div class="answered_indicator d-flex align-items-center"><span></span>Answered</div>
		</div>
		<div class="col-md-6 p-0 mb-3">
			<div class="notanswered_indicator d-flex align-items-center"><span></span>Not answered</div>
		</div>
		<div class="col-md-6 p-0 mb-3">
			<div class="notvisited_indicator d-flex align-items-center"><span></span>Not visited</div>
		</div>
	</div>
	<h5 class="quiz_navstatus_header">Question Palette</h5>
</div>
