
<div class="singleselect d-inline-block">
    <form method="get" action="{{loginasurl}}/course/view.php" class="form-inline" id="single_select_f65ae4d9710b9d5">
       <select id="single_select" class="custom-select singleselect" name="id" data-init-value="12" data-initial-value="12" onchange="navigateToCourse()" >
                    <option value="">{{#str}}dashboard, theme_horizon{{/str}}</option>
            {{#categorydetails}}
                {{#singlecourse}}
                    <!-- <optgroup label="{{categoryname}}"> -->
                        {{#courses}}
                            <option value="{{loginasurl}}/course/view.php?id={{url}}">{{coursename}}</option>
                        {{/courses}}
                {{/singlecourse}}
                {{^singlecourse}}
                	<optgroup label="{{categoryname}}">
                    {{#courses}}
                        <option value="{{loginasurl}}/course/view.php?id={{url}}">{{coursename}}</option>
                    {{/courses}}
                    </optgroup>
                {{/singlecourse}}
            {{/categorydetails}}
        </select>
        <noscript>
            <input type="submit" class="btn btn-secondary ml-1" value="Go">
        </noscript>
    </form>
</div>

{{#js}}
var reloading = false;

function navigateToCourse() {
    // Check if the page is reloading, and if so, prevent any action
    if (reloading) {
        return false;
    }

    var select = $("#single_select");
    var selectedValue = select.val();

    // Store the selected value in sessionStorage
    sessionStorage.setItem('selectedValue', selectedValue);

    // Check if the selected option is the dashboard
    if (selectedValue === "") {
        window.location.href = M.cfg.wwwroot + '/my';
    } else if (selectedValue) {
        window.location.href = selectedValue;
    }

    return true;
}

function updateSelectedOption() {
    var select = $("#single_select");

    // Retrieve the selected value from sessionStorage
    var selectedValue = sessionStorage.getItem('selectedValue');

    // Update the selected option based on the stored value
    if (selectedValue) {
        select.val(selectedValue);
    }
}

$(document).ready(function() {
    // Call the function on document ready to set the initial selected option
    updateSelectedOption();
    
    // Attach the navigateToCourse function to the onchange event
    $("#single_select").on("change", navigateToCourse);

    // Disable select during page reloading
    $(window).on("beforeunload", function () {
        reloading = true;

        // Set a timeout to enable the select after a short delay (1 second)
        setTimeout(function () {
            reloading = false;
        }, 1000);
    });
});
{{/js}}
